#login-form {
	margin: 0 auto;
	width: 45%;
}

label {
	display: inline-block;
	width: 200px;
	height: 30px;
	margin-top: 30px;
}

#signup-area {
	float: left;
	margin-top: 30px;
}

#signup-area a  {
	color: #4da6ff;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}

#login-area {
	float: right;
	margin-top: 30px;
	width: 30%;
}