/*	--------------------------- PAGE HEADER ----------------------------*/
#search-bar {
	display: inline-block;
	width: 55%;
	margin-bottom: 20px;
}

#tool-box {
	/* TODO: Same alignement with path bar */
	/*position: fixed;
	right: 300px;*/
	width: 303px;
	margin-right: 725px;		/* (top-bar left)425 + (file-history width)300 */
	display: inline-block;
	float: right;
}
/* Last item > no border right */
#tool-box-delete {
	border: none;
}

.tool-box-item {
	border-right:1px solid #eee;
	text-align: right;
	font-size: 0.8em;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 1px;
	margin: 0;
}

.tool-box-item:hover {
	background-color: #eeeeee;
}

.tool-box-image {
	width: 30px;
	height: 30px;
	vertical-align:middle;
}

#path {
	float: left;
}

.path-project {
	font-weight: bold;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
	padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 0px;		/* Previous value: 6 -> changed because it changed alignment */
}
.path-project:hover, 
.path-folder:hover {
	background-color: #eeeeee;
	cursor: pointer;
	border-radius: 2px;
}

.path-folder {
	display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
	padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 6px;
}

.path-arrow {
	display: inline-block;
    height: 28px;
}

/*	--------------------------- FILE HISTORY ----------------------------*/

#file-history {
	position: fixed;
	right: 0;
	top: 151px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #e3e3e3;
	width: 300px;
	height: calc(100% - 150px - 10px);
	overflow: auto;
	
	font-family: Tahoma, Geneva, sans-serif;
}

.history-project-name {
    display: block;
	font-weight: bold;
    font-size: 16px;
	height: 32px;
	line-height: 32px;
    vertical-align: top;
	margin-bottom: 1px;
	padding: 2px;
	text-align: center;
}

.history-modif {
	display: block;
	padding: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	box-shadow: 2px 1px 2px #eee;
	background-color: #fefefe;
	margin-bottom: 10px;
	line-height: 10px;
	font-size: 15px;
}

.history-modif-modifier {
	display: inline-block;
	margin-bottom: 10px;
}

.history-modif-modifier-avatar {
	display: inline-block;
	height: 35px;
	width: 35px;
	border-radius: 2px;
	vertical-align: middle;
	box-shadow: 2px 2px 2px #EEEEEE;
}

.history-modif-modifier-name {
	display: inline-block;
	font-weight: bold;
}

.history-modif-modification {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	border-top: 1px solid #e3e3e3;
}

.history-modif-modification-action {
	display: inline-block;
}

.history-modif-modification-modified-file {
	display: inline-block;
}

.history-modif-modification-date {
	display: block;
	padding-top: 10px;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	color: #a3a3a3;
}

/*	--------------------------- FILE STRUCTURE ----------------------------*/

#file-structure {
	position: fixed;
	bottom: 0px;
	top: 151px;
	border-right: 1px solid #e3e3e3;
	width: 220px;
	font-family: Tahoma, Geneva, sans-serif;
}

.tree {
	padding: 0px;
	margin: 0px;
}

.tree li {
	list-style-type: none;
	white-space: nowrap;
	width: 100%;
	font-size: 15px;
}

.tree-project {
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tree-file,
.tree-folder {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 2px;
	padding-left: 20px;
	margin-left: -35px;		/* Get by javascript? */
}

.tree-folder img,
.tree-file img {
	height: 24px;
	width: auto;
	border-radius: 2px;
	margin-right: 5px;
	margin-bottom: -5px;
}

.tree-project:hover,
.tree-folder:hover,
.tree-file:hover {
	background-color: #eeeeee;
	border-radius: 2px;
	cursor: pointer;
}

/*	--------------------------- PAGE CONTENT (CENTER) ----------------------------*/

#file-filters {
	width: 100%;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 10px;
	vertical-align: middle;
	line-height: 35px;
	border-bottom: 1px solid #e3e3e3;
}

#file-filters-name {
	margin-left: 73px;
	float: left;
}

#file-filters-date {
	margin-left: 440px;
	float: left;
}

#file-filters-workers {
	margin-left: 130px;
	float: left;
}

#file-filters-name img,
#file-filters-date img,
#file-filters-workers img {
	cursor: pointer;
	width: 25px;
	vertical-align: middle;
}

.filtersTitle {
	cursor: pointer;
}

#file-content {
	position: fixed;
	top: 151px;
	left: 221px;
	right: 331px;
}

.file, 
.folder {
	width: 100%;
	height: 35px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	line-height: 35px;
	font-size: 15px;
	
	background-color: white;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #EEEEEE;
	margin-bottom: 14px;
}

.folder:hover , .file:hover{
	background-color: #eeeeee;
	cursor: pointer;
}

.folder-icon, .file-icon {
	width: 2%;
	text-align: center;
	float: left;
}

.folder-icon img, .file-icon img {
	width: 35px;
}

.folder-title, .file-title {
	padding-left: 50px;
	width: 38%;
	float: left;
}

.folder-lastModified, .file-lastModified{
	text-align: center;
	width: 25%;
	float: left;
}

.folder-currWorkingPeople, .file-currWorkingPeople {
	text-align: center;
	width: 25%;
	float: left;
}